$bg-primary: #fafafa;
$bg-primary-light: #ffffff;
$bg-primary-dark: #c7c7c7;
$bg-secondary: #720d0d;
$bg-secondary-light: #a74034;
$bg-secondary-dark: #430000;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;